@keyframes animCard {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes textOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
.content {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Francois One", sans-serif;
}

h2 {
  color: #0058b1;
}

.block-photo {
  background-color: #ecebe9;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 485px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
}
@media screen and (max-width: 1380px) {
  .block-photo {
    top: 150px;
    left: 50%;
  }
}
.block-photo__img {
  margin-top: 5%;
  border-radius: 100%;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.photo-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0058b1;
  z-index: 0;
  border-radius: 100%;
  opacity: 0.4;
  filter: blur(50px);
}

.photo__text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.6em;
  z-index: 12;
}
.photo__text--normal {
  transform: translate(-50%, -100%);
}
.photo__text--activites {
  transform: translate(-50%, -70%);
}

.block-icon {
  position: absolute;
  background-color: #ecebe9;
  width: 68px;
  height: 68px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.block-icon::after {
  content: "";
  position: absolute;
  border: 3px solid #0058b1;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  z-index: 10;
  width: 110%;
  height: 110%;
  filter: blur(1px);
  opacity: 0;
  animation: rotate 3000ms linear infinite;
  transition: opacity 300ms;
}
.block-icon:hover::after {
  opacity: 1;
}
.block-icon:hover .block-icon__color::after {
  opacity: 1;
}
.block-icon:hover {
  color: #0058b1;
}
.block-icon__color {
  background: linear-gradient(158deg, #0058b1 0%, #3977b5 100%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  z-index: 0;
}
.block-icon__color::after {
  content: "";
  top: 8px;
  left: 8px;
  border-radius: 100%;
  position: absolute;
  background: white;
  width: 52px;
  height: 52px;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
}
.block-icon__iframe {
  font-size: 1.5em;
  margin-top: 50%;
  transform: translateY(-50%);
}
.block-icon--profil {
  top: -35px;
  left: -50px;
}
.block-icon--formation {
  top: -35px;
  right: -50px;
}
.block-icon--competences {
  top: 260px;
  right: -50px;
}
.block-icon--langages {
  top: 110px;
  right: -100px;
}
.block-icon--work {
  top: 110px;
  left: -100px;
}
.block-icon--activites {
  top: 260px;
  left: -50px;
}

.block-head {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
}
.block-head__heading {
  font-size: 2.5em;
  margin: 0;
}
.block-head__sub {
  margin: 0;
}
.block-head__text {
  margin: 0;
  margin-top: -5px;
  font-size: 0.9em;
}

.contact {
  position: absolute;
  left: 50%;
  top: 670px;
  transform: translateX(-50%);
  padding: 0 20px;
  width: 350px;
}
.contact__heading {
  text-align: center;
}
.contact__row {
  display: flex;
  justify-content: space-between;
}
.contact__solo {
  display: flex;
  align-items: center;
}
.contact__iframe {
  margin-right: 15px;
}
.contact__text {
  font-size: 0.8em;
}
.contact__lien {
  text-decoration: none;
  color: black;
}
.contact__lien:hover {
  text-decoration: underline;
}

.contact-social {
  text-align: center;
  margin-top: 10px;
}
.contact-social__iframe {
  color: #0058b1;
  font-size: 1.3em;
  margin: 10px;
  padding: 4px 3px 3px 4px;
}
.contact-social__iframe:hover {
  color: #fff;
  background-color: #0058b1;
  border-radius: 100%;
}

.profil {
  position: absolute;
  top: -300px;
  left: -500px;
  width: 400px;
  text-align: justify;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

.animation {
  animation: animCard 500ms ease-in-out forwards;
}

.animation__text {
  opacity: 0;
  animation: textOpacity 500ms 300ms ease-in-out forwards;
}

.formation {
  position: absolute;
  top: -310px;
  right: -500px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  transform-origin: top;
  opacity: 0;
}
.formation__subheading {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 5px;
}
.formation__text {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  margin: 3px;
}

.work {
  position: absolute;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  top: 80px;
  left: -530px;
  width: 380px;
  transform-origin: top;
  opacity: 0;
}

.activites {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 330px;
  top: 425px;
  left: -400px;
  transform-origin: top;
  opacity: 0;
}

.competence {
  position: absolute;
  width: 340px;
  border-radius: 20px;
  padding: 10px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  transform-origin: top;
  opacity: 0;
}
.competence--dev {
  top: 110px;
  right: -490px;
}
.competence--video {
  top: 365px;
  right: -450px;
  width: 375px;
}
.competence__lien {
  display: inline-block;
  margin: 5px;
  border: 2px solid #fff;
  padding: 4px 4px 0px 4px;
  border-radius: 10px;
  transition: border-color 300ms;
}
.competence__lien:hover {
  border: 2px solid #0058b1;
}
.competence__logos {
  margin-top: 10px;
  margin-left: -7px;
  text-align: center;
}
.competence__logos-text {
  margin: 5px;
  font-family: "Roboto", sans-serif;
}
.competence__logos--prochainement {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  padding: 3px;
  border-radius: 20px;
  text-align: center;
  width: 150px;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.section__text {
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.section__heading {
  font-size: 1.6em;
  margin: 0;
  opacity: 0;
}
.section__heading--textcenter {
  text-align: center;
}
.section__subheading {
  font-size: 1em;
}
.section__row {
  display: flex;
}
.section__list {
  padding-left: 10px;
  margin-right: 20px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  list-style-type: square;
}

/*# sourceMappingURL=style.css.map */
