.block-photo
{
	background-color: $bg-color;
	box-shadow: $box-shadow;
	position: absolute;
	top: 485px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;

	@include desktop-xs-only
	{
		top: 195px;
		left: 50%;
		width: 200px;
		height: 200px;
	}

	&__img
	{
		margin-top: 5%;
		border-radius: 100%;		
		box-shadow: $box-shadow;


		@include desktop-xs-only
		{
			width: 180px;
			height: 180px;
		}
	}
}

.photo-hover
{
	&::after
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $icon-color;
		z-index: 0;
		border-radius: 100%;
		opacity: 0.4;
		filter: blur(50px);
	}
}

.photo__text
{
	position: absolute;
	top: 50%;
	left: 50%;
	color: $white-color;
	font-size: 1.6em;
	z-index: 12;

	@include desktop-xs-only
	{
		font-size: 1.3em;
	}	

	&--normal
	{
		transform: translate(-50%, -100%);
	}

	&--activites
	{
		transform: translate(-50%, -70%);
	}
}

.block-icon
{
	position: absolute;
	background-color: $bg-color;
	width: 68px;
	height: 68px;
	box-shadow: $box-shadow;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: $white-color;

	&::after
	{
		content: '';
		position: absolute;
		border: 3px solid $icon-color;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-radius: 50%;
		z-index: 10;
		width: 110%;
		height: 110%;
		filter: blur(1px);
		opacity: 0;
		animation: rotate 3000ms linear infinite;
		transition: opacity 300ms;
	}

	&:hover::after
	{
		opacity: 1;
	}

	&:hover .block-icon__color::after
	{
		opacity: 1;
	}

	&:hover
	{
		color: $icon-color;
	}

	&__color
	{
		background: $gradient;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		text-align: center;
		z-index: 0;

		&::after
		{
			content: '';
			top: 8px;
			left: 8px;
			border-radius: 100%;
			position: absolute;
			background: white;
			width: 52px;
			height: 52px;
			z-index: -1;
			opacity: 0;
			transition: opacity 300ms;
		}
	}
	

	&__iframe
	{
		font-size: 1.5em;
		margin-top: 50%;
		transform: translateY(-50%);
	}

	&--profil
	{
		top: -35px;
		left: -50px;

		@include desktop-xs-only
		{
			top: 85px;
			left: -80px
		}

		@include mobile-only
		{
			top: 215px;
			left: 25px;
		}		
	}

	&--formation
	{
		top: -35px;
		right: -50px;

		@include desktop-xs-only
		{
			top: 85px;
			right: -80px;
		}

		@include mobile-only
		{
			top: 215px;
			right: 25px;
		}	
	}

	&--competences
	{
		top: 260px;
		right: -50px;

		@include desktop-xs-only
		{
			top: 205px;
			right: 25px;
		}	

		@include mobile-only
		{
			top: 375px;
			right: 25px;
		}
	}

	&--langages
	{
		top: 110px;
		right: -100px;

		@include desktop-xs-only
		{
			top: 160px;
			right: -50px;
		}	

		@include mobile-only
		{
			top: 295px;
			right: 25px;
		}
	}

	&--work
	{
		top: 110px;
		left: -100px;

		@include desktop-xs-only
		{
			top: 160px;
			left: -50px; 
		}	

		@include mobile-only
		{
			top: 295px;
			left: 25px;
		}
	}

	&--activites
	{
		top: 260px;
		left: -50px;

		@include desktop-xs-only
		{
			top: 205px;
			left: 25px;
		}

		@include mobile-only
		{
			top: 375px;
			left: 25px;
		}
	}


}

.block-head
{
	position: absolute;
	text-align: center;

	left: 50%;
	transform: translateX(-50%);
	top: 180px;
	width: 375px;

	@include desktop-xs-only
	{
		top: 5px;
	}

	&__heading
	{
		font-size: 2.5em;
		margin: 0;

		@include desktop-xs-only
		{
			font-size: 2em;
		}
	}

	&__sub
	{
		margin: 0;

		@include desktop-xs-only
		{
			font-size: 1.4em;
			margin-top: -10px;
		}

		@include mobile-only
		{
			font-size: 1.3em;
		}	
	}

	&__text
	{
		margin: 0;
		margin-top: -5px;
		font-size: 0.9em;

		@include desktop-xs-only
		{
			font-size: 0.8em;
		}
	}
}

.contact
{
	position: absolute;
	left: 50%;
	top: 670px;
	transform: translateX(-50%);
	padding: 0 20px;
	width: 350px;

	@include desktop-xs-only
	{
		top: 1300px;
	}

	@include tablette-only
	{
		top: 2200px;
	}

	@include mobile-only
	{
		padding: 0;
		left: 180px;
	}	

	@include mobile-only
	{
		padding: 0;
		top: 2700px;
	}		

	&__heading
	{
		text-align: center;
	}

	&__row
	{
		display: flex;
		justify-content: space-around;
	}

	&__solo
	{
		display: flex;
		align-items: center;
	}

	&__iframe
	{
		margin-right: 15px;

		@include mobile-only
		{
			margin-right: 5px;
		}
	}

	&__text
	{
		font-size: 0.8em;
	}

	&__lien
	{
		text-decoration: none;
		color: black;

		&:hover
		{
			text-decoration: underline;
		}
	}
}

.contact-social
{
	text-align: center;
	margin-top: 10px;

	&__iframe
	{
		color: $icon-color;
		font-size: 1.3em;
		margin: 10px;
		padding: 4px 3px 3px 4px;

		&:hover
		{
			color: $white-color;
			background-color: $icon-color;
			border-radius: 100%;
		}
	}
}