.profil
{
	position: absolute;
	top: -300px;
	left: -500px;
	width: 400px;
	text-align: justify;
	@include border;
	box-shadow: $box-shadow;
	transform-origin: top;
	transform: scaleY(0);
	opacity: 0;

	@include desktop-xs-only
	{
		top: 300px;
		left: -330px;
	}

	@include tablette-only
	{
		top: 300px;
		left: -110px;
	}	

	@include mobile-only
	{
		width: 300px;
		top: 480px;
		left: -60px;
	}	
}

.animation
{
	animation: animCard 500ms ease-in-out forwards;
}

.animation__text
{
	opacity: 0;
	animation: textOpacity 500ms 300ms ease-in-out forwards;
}

.formation
{
	position: absolute;
	top: -310px;
	right: -500px;
	width: 400px;
	@include border;
	transform-origin: top;
	opacity: 0;

	@include desktop-xs-only
	{
		top: 300px;
		right: -330px
	}

	@include tablette-only
	{
		top: 680px;
		left: -110px;
	}	

	@include mobile-only
	{
		width: 300px;
		top: 940px;
		left: -60px;
	}		

	&__subheading
	{
		font-size: 0.9em;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	&__text
	{
		font-size: 0.8em;
		font-family: $text-font;
		margin: 3px;
	}
}

.work
{
	position: absolute;
	@include border;
	top: 83px;
	left: -530px;
	width: 380px;
	transform-origin: top;
	opacity: 0;

	@include desktop-xs-only
	{
		top: 680px;
		left: -330px;
	}

	@include tablette-only
	{
		top: 1100px;
		left: -100px;
	}	

	@include mobile-only
	{
		width: 300px;
		top: 1400px;
		left: -60px;
	}		
}

.activites
{
	@include border;
	position: absolute;
	width: 330px;
	top: 425px;
	left: -400px;
	transform-origin: top;
	opacity: 0;

	@include desktop-xs-only
	{
		top: 1024px;
		left: -330px;
	}

	@include tablette-only
	{
		top: 1700px;
		left: -70px;
	}	

	@include mobile-only
	{
		width: 300px;
		top: 2130px;
		left: -60px;
	}		
}

.competence
{
	position: absolute;
	width: 400px;
	border-radius: 20px;
	padding: 10px;
	@include border;
	transform-origin: top;
	opacity: 0;

	&--dev
	{
		top: 105px;
		right: -530px;

		@include desktop-xs-only
		{
			top: 720px;
			right: -330px;
		}

		@include tablette-only
		{
			top: 1440px;
			left: -110px;
		}	

		@include mobile-only
		{
			width: 300px;
			top: 1770px;
			left: -60px;
		}		
	}

	&--video
	{
		top: 365px;
		right: -450px;
		width: 375px;

		@include desktop-xs-only
		{
			top: 970px;
			right: -330px;
		}

		@include tablette-only
		{
			top: 1850px;
			left: -95px;
		}	

		@include mobile-only
		{
			width: 300px;
			top: 2300px;
			left: -60px;
		}		
	}

	&__lien
	{
		display: inline-block;
		margin: 5px;
		border: 2px solid $white-color;
		padding: 4px 4px 0px 4px;
		border-radius: 10px;
		transition: border-color 300ms;

		&:hover
		{
			border: 2px solid $icon-color;
		}
	}

	&__logos
	{
		margin-top: 10px;
		margin-left: -7px;
		text-align: center;

		&-text
		{
			margin: 5px;
			font-family: $text-font;
			font-size: 0.9em;
		}

		&--langages
		{
			margin-left: 20px;
		}

		&--prochainement
		{
			@include border;
			padding: 3px;
			border-radius: 20px;
			text-align: center;
			width: 150px;
			margin-right: 5px;
			margin-top: 5px;
			margin-left: 110px;

			@include mobile-only
			{
				width: 150px;
				margin-left: 70px;
			}	
		}
	}
}

.section
{
	&__text
	{
		font-size: 0.8em;
		font-family: $text-font;
		line-height: 20px;
	}

	&__heading
	{
		font-size: 1.6em;
		margin: 0;
		opacity: 0;

		&--textcenter
		{
			text-align: center;
		}
	}

	&__subheading
	{
		font-size: 1em;
	}


	&__row
	{
		display: flex;
	}

	&__list
	{
		padding-left: 10px;
		margin-right: 20px;
		font-size: 0.9em;
		font-family: $text-font;
		list-style-type: square;
	}
}

.close-button
{
	position: absolute;
	right: 10px;
	color: $icon-color;
	z-index: 2;
	cursor: pointer;

	@include tablette-only
	{
		right: 4px;
		top: 4px;
	}

	&:hover, &:focus
	{
		color: black;
	}

	&__icon
	{
		font-size: 1.4em;

		@include tablette-only
		{
			font-size: 1.2em;
		}
	}
}